.vs/MyPlanner.slnx/FileContentIndex/f13039c8-e365-4369-ac24-6d3861d69f89.vsidx
.vs/MyPlanner.slnx/v18/.suo
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/CodeChunks.db
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/CodeChunks.db-shm
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/CodeChunks.db-wal
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/SemanticSymbols.db
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/SemanticSymbols.db-shm
.vs/MyPlanner/CopilotIndices/18.5.39162.45114/SemanticSymbols.db-wal
MyPlanner/obj/Debug/net10.0-android/_AndroidResolvedResources.hash
MyPlanner/obj/Debug/net10.0-android/designtime/_Microsoft.Android.Resource.Designer.dll
MyPlanner/obj/Debug/net10.0-android/designtime/build.props
MyPlanner/obj/Debug/net10.0-android/designtime/case_map.txt
MyPlanner/obj/Debug/net10.0-android/designtime/libraryprojectimports.cache
MyPlanner/obj/Debug/net10.0-android/designtime/R.txt
MyPlanner/obj/Debug/net10.0-android/mauiimage.outputs
MyPlanner/obj/Debug/net10.0-android/MyPlanner.AssemblyInfo.cs
MyPlanner/obj/Debug/net10.0-android/MyPlanner.AssemblyInfoInputs.cache
MyPlanner/obj/Debug/net10.0-android/MyPlanner.assets.cache
MyPlanner/obj/Debug/net10.0-android/MyPlanner.GeneratedMSBuildEditorConfig.editorconfig
MyPlanner/obj/Debug/net10.0-android/rjimswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-android/rjsmcshtml.dswa.cache.json
MyPlanner/obj/Debug/net10.0-android/rjsmrazor.dswa.cache.json
MyPlanner/obj/Debug/net10.0-android/rpswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-android/staticwebassets.build.json
MyPlanner/obj/Debug/net10.0-android/staticwebassets.build.json.cache
MyPlanner/obj/Debug/net10.0-android/staticwebassets.development.json
MyPlanner/obj/Debug/net10.0-android/staticwebassets.pack.json
MyPlanner/obj/Debug/net10.0-android/staticwebassets.publish.json
MyPlanner/obj/Debug/net10.0-ios/iossimulator-x64/MyPlanner.AssemblyInfo.cs
MyPlanner/obj/Debug/net10.0-ios/iossimulator-x64/MyPlanner.AssemblyInfoInputs.cache
MyPlanner/obj/Debug/net10.0-ios/iossimulator-x64/MyPlanner.assets.cache
MyPlanner/obj/Debug/net10.0-ios/iossimulator-x64/MyPlanner.GeneratedMSBuildEditorConfig.editorconfig
MyPlanner/obj/Debug/net10.0-ios/iossimulator-x64/rpswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/MyPlanner.AssemblyInfo.cs
MyPlanner/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/MyPlanner.AssemblyInfoInputs.cache
MyPlanner/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/MyPlanner.assets.cache
MyPlanner/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/MyPlanner.GeneratedMSBuildEditorConfig.editorconfig
MyPlanner/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/rpswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/mauiimage.outputs
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/MyPlanner.AssemblyInfo.cs
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/MyPlanner.AssemblyInfoInputs.cache
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/MyPlanner.assets.cache
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/MyPlanner.GeneratedMSBuildEditorConfig.editorconfig
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Platforms/Windows/App.g.i.cs
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Platforms/Windows/App.xaml
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/rjimswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/rjsmcshtml.dswa.cache.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/rjsmrazor.dswa.cache.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/rpswa.dswa.cache.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/staticwebassets.build.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/staticwebassets.build.json.cache
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/staticwebassets.development.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/staticwebassets.pack.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/staticwebassets.publish.json
MyPlanner/obj/Debug/net10.0-windows10.0.19041.0/win-x64/XamlSaveStateFile.xml
MyPlanner/obj/MyPlanner.csproj.nuget.dgspec.json
MyPlanner/obj/project.assets.json
MyPlanner/obj/project.nuget.cache
*.cache
*.props
